
.row {
    flex: 1;
}

.upper-row, .lower-row{
    margin: 1% !important;

}
.company-logo {
    width: 70%;
    justify-self: center;
    align-self: center;
    object-fit:fill;
}

.company-logo-circle {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.9);
    align-self: center;
    margin-top: 2em;
}

.bezeq {
    background-color: rgba(27,37,77,0.8)
}
.cellcom {
    background-color: rgba(144,48,143,0.8)
}
.unlimited {
    background-color: rgba(0,170,78,0.8)
}
.hot {
    background-color: rgba(254,0,0,0.8)
}
.result-paragraph {
    direction: rtl;
    margin-top: 1em;
}
.success {
    color:white;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
