.App {
  text-align: center;
  background: rgb(85,0,182);
  background: linear-gradient(99deg, rgba(85,0,182,1) 0%, rgba(11,0,163,1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  height: 100%;
  /* margin-left: 2%; */
  /* margin-right: 2%; */
  width: 100% !important;
  max-width: 100% !important;
  background-image: url('./images/worldfiber.jpg');
  background-size: cover;
  margin: 0% !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.inputrow {
  direction: rtl;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  position: absolute;
  right: 5em;
  top: 25em;
}
.row {
  margin: unset !important;
}
.form-label {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-div {
  width: 100%;
}
.react-select__control, input {
  background-color: rgba(255,255,255,0.00) !important;
  color: white !important;
  border-radius: 0px !important;
  border: 0px !important;
  border-bottom: 2px solid rgba(255,255,255,0.5) !important;
  background-position: left !important;
  background-size: 1rem !important;
  fill: currentColor !important;
}
.form-select {
  background-color: rgba(0,0,0,1) !important;
  color: hsl(0, 0%, 100%) !important;
  border-radius: 0px !important;
  border: 0px !important;
  border-bottom: 2px solid rgba(255,255,255,0.5) !important;
  background-position: left .7em top 50%, 0 0 !important;
  background-size: 1rem !important;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 16' width='20' height='20' stroke='currentColor' stroke-width='0' xmlns='http://www.w3.org/2000/svg'><g><path d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z' fill='white'/></g></svg>") !important;
}

.react-select__menu, .react-select__option {
  background-color: #154c79 !important;
  color: white;
}

.react-select__option:hover {
  background-color:rgba(255,255,255,0.1) !important;
}

.react-select__indicator-separator{
  display:none !important;
}
.react-select__single-value{
  color: white !important;
  font-size: 20px !important;
  
}
input {
  border-bottom: 0px !important;
}
.appartment-input {
  border-bottom: 2px solid #50658a !important;
}
.col {
  margin: 3%;
}
:focus {
  outline: 0px !important;
}
.btn-primary {
  background-color: transparent !important;
  border: 2px solid !important;
  border-color: rgba(255,255,255,0.5) !important;
  border-radius: 0px !important;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  font-size: 20px !important;
  margin-top: 10% !important;
}
.btn-primary:focus{
  outline: 0px !important;
}
.main-title{
  color:white !important;
  font-family: 'Rubik','Roboto', sans-serif;
  font-size: 90px;
  position: absolute;
  right: 30px;
  top: 100px;
}
.main-paragraph { 
  width: 35%;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  direction: rtl;
  position: absolute;
  right: 30px;
  top: 240px;
  text-align: right;
}
.loading-spinner {
  position: absolute;
  bottom: -100px;
  right: 165px;
}
.abdev {
  width: 100px;
  position: absolute;
  bottom: 10px;
  right: 230px;
}
@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: '<angle>';
}
@property --h {
  initial-value: 0;
  inherits: false;
  syntax: '<number>';
}
.loader {
  color: #fff !important;

  font-size: 20px !important;
  --charge: hsl(var(--h, 0), 80%, 50%) !important;
  -o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 20 !important;
     border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 20 !important;
  -webkit-animation: load 2s infinite ease-in-out !important;
          animation: load 2s infinite ease-in-out !important;
}
.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}
@-webkit-keyframes load {
  0%, 10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}
@keyframes load {
  0%, 10% {
    --a: 0deg;
    --h: 0;
  }
  100% {
    --a: 360deg;
    --h: 100;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
